@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 1600px;
}

.inter {
  font-family: "Inter", sans-serif;

}
header{
  
 border: 2px solid green ;
 height: 760px;
 background-image: url(../assets/hero-bg.png);
 background-repeat: no-repeat;

}

/* for same color text */
.color-fffff{
  color: #FFFFFF;
}
/* NAV */
.navbar{
  display:flex ;
  justify-content:space-between;
  align-items: center;
  
  padding: 1rem 10rem;
 }
.nav-links{
  display: flex;
  gap: 2rem;
}

.nav-links a{
  text-decoration: none;
}

.btn button{
  padding: 0.75rem .5rem;
  border-radius: 2rem;
  width: 9rem;
  height: 3rem ;
  cursor: pointer;
}
@media screen and (max-width:576px) {
  .nav-links{
    display: none;
  }
  
}