@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 1600px;
}
.gradient{
  background: linear-gradient( #F7E93F, #FB09B4, #9100F8  );
    -webkit-text-fill-color: 
    transparent;
     -webkit-background-clip: text;
     background-clip: text;
}

.inter {
  font-family: "Inter", sans-serif;

}
header{
  background-color: #1A0B2E;
}
/* banner */

.banner{
  height: 760px;
 background-image: url(../assets/hero-bg.png);
 background-repeat: no-repeat;
 background-size:cover;
 background-position: center;
 position: relative;
}
.circle{
  position: absolute;
  top: 10%;
  left: 39%;
}
.microphone{
  position: absolute;
  left: 46.4%;
  top: 19.8%;
}
.badge{
  background-color: #00FF88;
  padding: 8px 15px;
  border-radius: 1000px;
  position: absolute;
  top: 14%;
  left: 56%;
}
.big-text{
  position: absolute;
  top: 60%;
  left: 45%;
}
.daily{
  position: absolute;
  top: 68%;
  left: 35%;
}
.spotify{
  cursor: pointer;
  width: 200px;
  padding: 10px 15px;
  border-radius: 32px;
  position: absolute;
  top: 73%;
  left:41% ;
  
}
.li{
  background: linear-gradient( #F7E93F, #FB09B4, #9100F8);
}
.Subscribe{
  width: 144px;
  padding: 12px 19px;
   border-radius: 32px;
   position: absolute;
   top: 73%;
   left: 54%;
   background: transparent;
   border: 1px solid #00FF88;
   color: #00FF88;
}

/* for same color text */
.color-fffff{
  color: #FFFFFF;
}
.color-00FF88{
  color: #00FF88;
}


/* NAV */
.navbar{
  display:flex ;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 10rem; 
 }
 .ha{
  display: none;
 }
.nav-links{
  display: flex;
  gap: 2rem;
}

.nav-links a{
  text-decoration: none;
}

.btn button{
  padding: 0.75rem .5rem;
  border-radius: 2rem;
  width: 9rem;
  height: 3rem ;
  cursor: pointer;
}
/* About the Podcast */
main{
  height: 646px;
  background-color: #1A0B2E;
}
.podcast{
  padding-top: 3.5rem;
  padding-left: 12rem;
  padding-right: 12rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.podcast h1{
  margin-bottom: 1rem;
}
.j{
  margin-top: 1rem;
}
.cards{
  max-width: 1200px;
  margin: 11rem 12rem 8rem 12rem;
  display: grid;
  grid-template-columns: repeat(4 , 12rem);
  gap: 5rem;
  justify-content: center;
}
hr{
  max-width: 1200px;
  margin: 5rem auto;
}

.card{
  
  text-align: center;
}
/* why techwave */
.d{
  background-color: #230E3D;
  padding-top: 30px;
}
.d h1{
  text-align: center;
}

#tech-wave{
  padding:  80px 100px 100px;
  display: grid;
  gap: 13px;
  background-color: #230E3D;
  justify-content: center;
  grid-template-areas: 
  "audio mobile mobile"
  "audio global global"
  "exclusive exclusive resource ";
}
#tech-wave>*{
  /* border: 2px solid gold; */
  padding: 40px 12px 15px 40px;
  border-radius: 10px;
  background-color: rgba(53, 17, 101, 0.4);
}
.audio{
  grid-area: audio;
}
.mobile{
  grid-area: mobile;
}
.global{
  grid-area: global;
}
.exclusive{
  grid-area: exclusive;
}
.resource{
  grid-area: resource;
}

.paragraph{
  margin-top: 8px;
}

.f{
  background-color: #1A0B2E;
  padding-bottom: 50px;
}
.ep-container{
  padding: 90px 100px 9px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.ep-container>*{
  border-radius: 10px;
}
.ep{
  
  background-color: #250D44;
  
}

.ep iframe{
  width: 100%;
  border-radius: 10px;
}
.ep h3{
  margin: 8px 8px 6px 8px;
}
.ep p{
  margin:6px 6px 6px 6px ;
}
.h{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}


.alex{
  max-width: 1200px;
  margin: 0 200px ;
  padding: 40px;
  border-radius: 20px;
  background-color:  #250D44;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 20px;
}
.bio h1,p{
  margin-bottom: 8px;
}


 .img-container{
  display: flex;
  align-items: center;
  gap: 20px;
 }
 footer{
  height: 412px;
  background-image: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size:cover;
 background-position: center;
 }
.footer-container{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
   align-items: center; 
  gap: 12px;
  padding-top: 159px;
 }
 .footer-links{
  display: flex;
  gap: 52px;
 }
 .footer-links a{
  text-decoration: none;
 }
 .btn-hover{
  cursor: pointer;
 }
 .btn-hover :hover{
  background-color: rgb(63, 39, 10);
 }
  
 .green{
  color: #00FF88;
 }
 
 
@media screen and (max-width:576px) {
  .nav-links{
    display: none;
  }
  .ha{
    display:contents ;
  }
  .navbar{
    
   
  }
  .btn{
    display: none;
  }
  /* About the Podcast */
  .podcast{
   padding: 10px 10px 10px 10px;
  }
  hr{
  max-width: 400px;
  margin: 5rem auto;
}
.cards{
  grid-template-columns: repeat(2 , 1fr);
  margin: 0;
}
/* why techwave */
#tech-wave{
 
  grid-template-areas: 
  "audio "
  "mobile"
  " global"
  "exclusive"
  "resource";
}

.ep-container{
    padding: 40px 40px 9px 40px; 
  grid-template-columns: repeat(1, 1fr);
  
}
.alex{
  flex-direction: column;
  margin: 0 18px;
}
.footer-links{
  margin-left: 30px;
  margin-right: 30px;

  flex-wrap: wrap;
  padding: 45px;
  justify-content: center;
}
.r{
  padding-left: 24px;
}
.footer-container{
  
  padding-top: 100px;
 }

.circle{
  
  top: 10%;
  left: 19%;
}
.microphone{
 
  left: 40%;
  top: 20%;
}
.badge{
 
  top: 14%;
  left: 65%;
}
.big-text{
 
  top: 60%;
  left: 38%;
}
.daily{
 
  padding: 0 10px 5px 10px;
 text-align: center;
  top: 68%;
  left: 3%;
}
.spotify{
 
  top: 75%;
  left:20% ;
  
}
.Subscribe{
  top: 75%;
  left: 62%;
}


  
}